/Q11-SwapVariables/nbproject/private/
/Q11-SwapVariables/build/
/Q12-FacePrinter/nbproject/private/
/Q12-FacePrinter/build/
/Q13-BinaryAddition/nbproject/private/
/Q13-BinaryAddition/build/
/Q14-BinaryMultiplication/nbproject/private/
/Q14-BinaryMultiplication/build/
/Q15-DecimalToBinaryConverter/nbproject/private/
/Q15-DecimalToBinaryConverter/build/
