/Q11-SwapVariables/nbproject/private/
/Q11-SwapVariables/build/
/Q12-FacePrinter/nbproject/private/
/Q12-FacePrinter/build/
/Q13-BinaryAddition/nbproject/private/
/Q13-BinaryAddition/build/
/Q14-BinaryMultiplication/nbproject/private/
/Q14-BinaryMultiplication/build/
/Q15-DecimalToBinaryConverter/nbproject/private/
/Q15-DecimalToBinaryConverter/build/
/Q16-DeciToHexConverter/nbproject/private/
/Q16-DeciToHexConverter/build/
/Q17-DeciToEctalConverter/nbproject/private/
/Q17-DeciToEctalConverter/build/
/Q18-BinaryToDeciConverter/nbproject/private/
/Q18-BinaryToDeciConverter/build/
/Q19-OctalToDeciConverter/nbproject/private/
/Q19-OctalToDeciConverter/build/
